html, body {
  height: 100%;
  display: flex;
  flex-direction: column
}

#page-heading {
  font-size: 3rem;
}

#page-main {
  flex: 1;
}

.form-control {
  width: min(15rem, 90vh);
}

#out {
  font-size: 2rem;
}
