#page-heading {
  font-size: 3rem;
}

.form-control {
  min-width: min(15rem, 90vh);
}

#out {
  font-size: 2rem;
}

@media screen and (min-height: 600px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}
